[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
flake8 = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pytest = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pyfakefs = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
ipython = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pytest-cov = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pre-commit = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pandas = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
jupyterlab = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
hypothesis = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
isort = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
termtosvg = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pyautogui = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pyyaml = {index = "http://mirrors.aliyun.com/simple/",version = "*"}
pillow = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}

[packages]

[requires]
python_version = "3.6"
