[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
ipython = {version = "*", index = "http://mirrors.aliyun.com/pypi/simple/"}
isort = {index = "http://mirrors.aliyun.com/pypi/simple/", version = "*"}
jupyterlab = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pandas = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pdbpp = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pre-commit = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pyautogui = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pyyaml = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
termtosvg = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pillow = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
black = {version = "*", index = "http://mirrors.aliyun.com/pypi/simple/"}

[packages]
hypothesis = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pexpect = {index = "http://mirrors.aliyun.com/pypi/simple/", version = "*"}
pyfakefs = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pytest = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pytest-console-scripts = {index = "http://mirrors.aliyun.com/pypi/simple/", version = "*"}
pytest-cov = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}

[requires]
python_version = "3.6"
