-i https://pypi.org/simple/
attrs==20.3.0
coverage==5.4
hypothesis==5.30.0
importlib-metadata==3.4.0 ; python_version < '3.8'
iniconfig==1.1.1
mock==4.0.3
more-itertools==8.6.0
packaging==20.9
pexpect==4.8.0
pluggy==0.13.1
ptyprocess==0.7.0
py==1.10.0
pyfakefs==4.1.0
pyparsing==2.4.7
pytest-console-scripts==0.2.0
pytest-cov==2.10.1
pytest-runner==5.2
pytest==6.0.1
sortedcontainers==2.3.0
toml==0.10.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
zipp==3.4.0
